<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="TourPlanner.DAL.PostgresSqlServer" />
		<add key="BaseUrl" value="https://www.mapquestapi.com"/>
		<add key="MapQuestKey" value="gR0VwQehpcg5IJ69Vg1a4q8EfQK7bP8J"/>
		<add key="ImagePath" value="C:\Users\joel.kudiyirickal\OneDrive - FH Technikum Wien\Dokumente\BIF\Sem_4\SWEI\SWE2-TourPlanner\Images\"/>
		<add key="FilePath" value="C:\Users\joel.kudiyirickal\OneDrive - FH Technikum Wien\Dokumente\BIF\Sem_4\SWEI\SWE2-TourPlanner\Tours\"/>
		<add key="TourReportPath" value="C:\Users\joel.kudiyirickal\OneDrive - FH Technikum Wien\Dokumente\BIF\Sem_4\SWEI\SWE2-TourPlanner\Reporting\TourReport\"/>
		<add key="SummaryReportPath" value="C:\Users\joel.kudiyirickal\OneDrive - FH Technikum Wien\Dokumente\BIF\Sem_4\SWEI\SWE2-TourPlanner\Reporting\SummaryReport\"/>

		<add key="DALFileAssembly" value="TourPlanner.DAL.FileServer" />
		<add key="useFileSystem" value="false" />
	</appSettings>

	<connectionStrings>
		<add name="PostgresSqlConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=tourplanner;User Id=postgres;Password=password;" />
		<add name="StartFolderFilePath" connectionString="C:\Users\joel.kudiyirickal\Downloads/Data" />
	</connectionStrings>

</configuration>

